* {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
  margin: 10px;
  font-size: 1.4em;
}

nav {
  background-color: #0288d1;
}


.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
    font-size: .6em;
}
